<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AOG_FS_interface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AOG_FS_interface.Properties.Settings>
            <setting name="joystick_deadband" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="max_steer_angle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="game_file_location" serializeAs="String">
                <value />
            </setting>
            <setting name="aog_server_ip" serializeAs="String">
                <value />
            </setting>
            <setting name="aog_server_port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="aog_module_port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vehicle_to_control" serializeAs="String">
                <value />
            </setting>
            <setting name="VehicleToControl" serializeAs="String">
                <value />
            </setting>
        </AOG_FS_interface.Properties.Settings>
    </userSettings>
</configuration>